/* TODO: test and improve dimensions for alternate viewport stylesheets
 - Set style for status bar based on game state
 - Set color of roll button based on number of turns left (pink=3, purple=2, red=1, black=0)
 - Check for any redundant properties or ineffecient orders or matching statements */

body {
  background-color: #000000;
/*  background-image: url("../images/casino_table.png");
  background-size: 10%;
  background-repeat: repeat;
*/
  color: #f0f0f0;
  font-family: sans-serif;
  font-size: 14pt;
  text-align: center;
/* Disable cursor selection */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

table {
  border: none;
}

th {
  background-color: #2a2a2a;
  text-align: center;
}

td {
  text-align: left;
  border: 2px solid #000000;
}

.mainHeader {
  height: 45px;
}

.mainContainer {
  width: 30svw;
}

.sectionTable, .subTotalTable, .grandTotalTable {
  background-color: #1c1c1c;
  width: 100%;
}

tr[id^="row"] {
  cursor: pointer;
}

tr[id^="row"]:hover {
  color: turquoise;
  background-color: #111111;
}

tr[id^="row"]:active {
  color: #dddddd;
  background-color: #000000;
}

.usedRow {
  background-color: #101010;
  color: chartreuse;
  pointer-events: none;
}

.leadRow {
  text-align: left;
  padding-left: 5px;
}

td[id^="txtScore"] {
  font-family: monospace;
  width: 65px;
  text-align: center;
}

td[id^="txtGrand"] {
  font-family: monospace;
  width: 65px;
  text-align: center;
}

/* Make read-only values consistent: #rowUpperSubtotal, #rowUpperBonus, #rowYahtzeeBonus, #rowUpperTotal, #rowLowerTotal
   Table width changes with extra places (1, 10, 100..)
   Perentages or absolute values?
   This stylesheet is a mess
*/

/*.subTotalTable, .grandTotalTable, #rowUpperSubtotal {*/
[id^="rowUpper"], [id^="rowLower"], [id^="rowFinal"], #rowYahtzeeBonus {
  width: 100%;
  font-weight: bold;
  background-color: #151515;
}

#playerDice {
  width: 100%;
}

td.diceCell {
  width: 20%;
  text-align: center;
  padding-left: 2px;
  padding-right: 2px;
}

button {
  background-color: #222222;
  height: 2em;
  font-size: 20pt;
  font-weight: bold;
  letter-spacing: 5px;
  cursor: pointer;
}

/*table {
  border: 1px solid darkgreen;
}
td {
  border: 1px solid limegreen;
}*/

.enabledButton {
  font-weight: bold;
  background-color: #1a1a1a;
  color: mediumorchid;
  border: 3px solid mediumorchid;
  cursor: pointer;
  width: 100%;
  height: 2em;
  letter-spacing: 5px;
  vertical-align: middle;
  animation: flashText 1.5s linear infinite;
}
@keyframes flashText {
  75% { opacity: 0.75; }
}

.enabledButton:hover {
  border: 3px solid orchid;
  color: orchid;
}

.disabledButton {
  cursor: not-allowed;
  color:#a0a0a0;
  border: 3px solid #a0a0a0;
  width: 100%;
  animation: none;
  filter: brightness(0.5);
}

.diceButton {
  width: 75%;
  height: 75%;
  border: 3px solid #aaaaaa;
  cursor: pointer;
  pointer-events: auto;
}

/* Rotate dice for 250ms once */
.diceButtonAnimate {
  animation: rotate 0.25s 1;
}
@keyframes rotate {
  100% {
    /* Rotate clockwise 360 degrees */
    transform: rotate(360deg);
/*    transform: rotate(3.142rad); */
  }
}

.diceButton:hover {
  border: 3px solid turquoise;
}

.diceButtonSelected {
  width: 75%;
  height: 75%;
  border: 3px solid #c0c0c0;
  filter: brightness(0.25);
  cursor: pointer;
}

.diceButtonSelected:hover {
  border: 3px solid turquoise;
}

.diceButtonDisabled {
  width: 75%;
  height: 75%;
  border: 3px solid #aaaaaa;
  cursor: not-allowed;
  pointer-events: none;
}

.statusTable {
  font-size: 18pt;
  background-color: #1c1c1c;
  width: 30svw;
}

#txtStatusHeader {
  font-weight: bold;
  color: dodgerblue;
  background-color: #1a1a1a;
}

/*#txtHighScoreLead, #txtPlayerNameLead, #txtBonusGoalLead {
  font-family: monospace;
  font-size: 16pt;
  text-align: left;
  padding-left: 10px;
  color: #dddddd;
  background-color: #111111;
}*/

#txtHighScoreLead, #txtHighScore, #txtPlayerName, #txtBonusGoal {
  font-family: monospace;
  font-size: 16pt;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #111111;
}

#txtHighScore, #txtPlayerName {
  color: #dedede;
  cursor: pointer;
}

#txtHighScoreLead {
  width: 25%;
}
#txtPlayerName {
  width: 50%;
}
#txtHighScore {
  width: 25%;
}


#txtPlayerNameLead, #txtPlayerName {
  text-align: center;
}

#txtHighScore:hover {
  text-shadow: 1px 1px #505050;
  color: #ffffff;
/*  -webkit-text-stroke: 0.025em #a0a0a0; */
}

.configTable {
  font-size: 0.85em;
  width: 17svw;
  padding: 0px;
}

.evenWidthTable {
  width: 50%;
  text-align: right;
}

#txtConfig {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  font-size: 1em;
  font-weight: bold;
  transition: 0.25s;
  cursor: pointer;
}
#txtConfig:hover {
  animation: flashUnderline 1s linear infinite;
  filter: brightness(1.2);
}
@keyframes flashUnderline {
  75% {
    opacity: 0.75;
  }
}

.configTable {
  width: 95svw;
}

.evenWidthTable {
  width: 50%;
  text-align: right;
}

#txtConfig {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  font-size: 1em;
  font-weight: bold;
  transition: 0.25s;
  cursor: pointer;
}

hr {
  color: #555555;
  background-color: #555555;
  height: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.hidden {
  visibility: hidden;
}

.invisible {
  visibility: hidden;
  display: none;
}

.visible {
  visibility: visible;
  display: initial;
}


/* ===== Alternate dimensions for smaller landscape displays ===== */
@media (max-width: 1500px) {

  .mainHeader {
    font-size: 28pt;
  }

  .mainContainer {
    width: 50svw;
  }

  .grandTotalTable {
    background-color: #1c1c1c;
    width: 49.5svw;
  }

  .enabledButton {
    width: 49.5svw;
  }

  .diceCell {
    padding-left: 5px;
    padding-right: 5px;
  }

  .statusTable {
    font-size: 16pt;
    background-color: #1c1c1c;
    width: 50svw;
  }
  #txtBonusGoalLead, #txtHighScoreLead {
    font-family: monospace;
    font-size: 14pt;
    text-align: left;
    color: #ffffff;
    background-color: #111111;
  }
  #txtBonusGoal, #txtHighScore {
    font-family: monospace;
    font-size: 14pt;
    text-align: center;
    color: #ffffff;
    background-color: #111111;
/*    width: 13%;*/
  }

  .disabledButton {
    width: 49.5svw;
  }

  .diceButton {
    width: 5svw;
    height: 5svw;
  }

  .diceButton:active {
    border: 3px solid limegreen;
  }

  .diceButtonSelected {
    width: 5svw;
    height: 5svw;
    border: 3px solid #c0c0c0;
    filter: brightness(0.25);
  }

  .diceButtonDisabled {
    width: 5svw;
    height: 5svw;
    border: 3px solid #aaaaaa;
  }

}

/* Alternate dimension for small screens or portrait mode */
@media (orientation: portrait), (max-width: 875px) {

  body {
    font-size: 12pt;
  }

  table {
    font-size: 11pt;
  }

  .mainHeader {
    font-size: 22pt;
    font-weight: bold;
    height: 1.3em;
  }

  .mainContainer {
    width: 95svw;
  }

  td[id^="txtScore"] {
    width: 35%;
  }

  td[id^="txtGrand"] {
    width: 18.5%;
  }

  #rowUpperBonus, #rowYahtzeeBonus {
    height: 23px;
    font-size: 0.8em;
  }

  .usedRow {
    background-color: #101010;
    color: chartreuse;
  }

  .grandTotalTable {
    background-color: #1c1c1c;
    width: 92svw;
  }

  .statusTable {
    font-size: 14pt;
    background-color: #1c1c1c;
    width: 95svw;
  }

  #txtPlayerName, #txtHighScoreLead, #txtHighScore, #txtBonusGoalLead, #txtBonusGoal {
    font-family: monospace;
    color: #ffffff;
    background-color: #111111;
    font-size: 0.75em;
  }

  #txtBonusGoal, #txtHighScore {
    font-family: monospace;
    color: #ffffff;
    background-color: #111111;
  }

  #txtBonusGoalLead, #txtHighScoreLead {
    text-align: left;
    padding-left: 5px;
  }
  #txtBonusGoal, #txtHighScore {
    text-align: center;
  }

#txtHighScoreLead {
  font-weight: bold;
  width: 30%;
}
#txtPlayerName {
  width: 40%;
}
#txtHighScore {
  width: 30%;
}

  .enabledButton {
    width: 92svw;
    letter-spacing: 3px;
  }
  .enabledButton:active {
    border: 3px solid mediumorchid;
    color: orchid;
  }
  .disabledButton {
    letter-spacing: 3px;
    width: 92svw;
  }

  .diceCell {
    padding-left: 5px;
    padding-right: 5px;
  }

  button {
    font-size: 15pt;
    font-weight: bold;
    border: 3px solid mediumorchid;
    letter-spacing: 3px;
  }

  .diceButton {
    width: 12svw;
    height: 12svw;
  }

  .diceButton:active {
    border: 3px solid limegreen;
  }

  .diceButtonSelected {
    width: 12svw;
    height: 12svw;
    border: 3px solid #c0c0c0;
    filter: brightness(0.25);
  }

  .diceButtonDisabled {
    width: 12svw;
    height: 12svw;
    border: 3px solid #aaaaaa;
  }

}
