/* TODO: test and improve dimensions for alternate viewport stylesheets
 - Set style for status bar based on game state
 - Set color of roll button based on number of turns left (pink=3, purple=2, red=1, black=0)
 - Check for any redundant properties or ineffecient orders or matching statements */

body {
  background-color: #000000;
  color: #f0f0f0;
  font-family: sans-serif;
  font-size: 14pt;
  text-align: center;
/* Disable cursor selection */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

table {
  border: none;
}

th {
  text-align: center;
}

td {
  text-align: left;
  border: 2px solid #000000;
}

.mainHeader {
  height: 45px;
}

.mainContainer {
  width: 30svw;
}

.sectionTable, .subTotalTable, .grandTotalTable {
  background-color: #1c1c1c;
  width: 100%;
}

/* Issue: nth-child overwrites CSS below */
/*.sectionTable tr:nth-child(even) {
  background-color: #232323;
}*/

tr[id^="row"] {
  cursor: pointer;
}

tr[id^="row"]:hover {
  color: turquoise;
  background-color: #111111;
}

tr[id^="row"]:active {
  color: #dddddd;
  background-color: #000000;
}

.usedRow {
  background-color: #101010;
  color: chartreuse;
  pointer-events: none;
}

.leadRow {
  text-align: left;
}

/*tr.usedRow:hover {
  color: indianred;
}*/

td[id^="txtScore"] {
  font-family: monospace;
  width: 25%;
  text-align: center;
}

td[id^="txtGrand"] {
  font-family: monospace;
  width: 13.25%;
  text-align: center;
}

/*
.subTotalTable {
  background-color: #171717;
  width: 100%;
}
.grandTotalTable {
  background-color: #151515;
  width: 100%;
}
*/

#playerDice {
  width: 100%;
}

td.diceCell {
  width: 20%;
  text-align: center;
  padding-left: 2px;
  padding-right: 2px;
}

button {
  background-color: #333333;
  height: 2em;
  font-size: 20pt;
  font-weight: bold;
  letter-spacing: 5px;
  cursor: pointer;
}

/*table {
  border: 1px solid darkgreen;
}
td {
  border: 1px solid limegreen;
}*/

.enabledButton {
  font-weight: bold;
  background-color: #222222;
  color: mediumorchid;
  border: 3px solid mediumorchid;
  cursor: pointer;
  width: 100%;
  height: 2em;
  letter-spacing: 5px;
  vertical-align: middle;
  animation: flashText 1.5s linear infinite;
}

.enabledButton:hover {
  border: 3px solid orchid;
  color: orchid;
}

.disabledButton {
  cursor: not-allowed;
  color:#c0c0c0;
  border: 3px solid #c0c0c0;
  width: 100%;
}
.disabledButton:hover {
  color:#a0a0a0;
  border: 3px solid #a0a0a0;
}

.diceButton {
  width: 75%;
  height: 75%;
  border: 3px solid #aaaaaa;
  cursor: pointer;
  pointer-events: auto;
}

.diceButton:hover {
  border: 3px solid turquoise;
}

.diceButtonSelected {
  width: 75%;
  height: 75%;
  border: 3px solid #c0c0c0;
  filter: brightness(0.25);
  cursor: pointer;

}

.diceButtonSelected:hover {
  border: 3px solid turquoise;
}

.diceButtonDisabled {
  width: 75%;
  height: 75%;
  border: 3px solid #aaaaaa;
  cursor: not-allowed;
  pointer-events: none;
}

/* TODO: fix animation timing (does not play on the 1st die) */
/*
.diceRotation {
  animation-name: rotate;
  animation-duration: 0.25s;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
*/

.statusTable {
  font-size: 18pt;
  background-color: #1c1c1c;
  width: 30svw;
}

#txtStatusHeader {
  font-weight: bold;
  color: dodgerblue;
/*  animation: flashText 1.5s linear infinite; */
}
@keyframes flashText {
  75% {
    opacity: 0.75;
  }
}

#txtBonusGoalLead {
  font-family: monospace;
  font-size: 16pt;
  text-align: left;
  padding-left: 10px;
  color: #ffffff;
  background-color: #111111;
}
#txtBonusGoal {
  font-family: monospace;
  font-size: 16pt;
  text-align: center;
  color: #c0c0c0;
  background-color: #111111;
  width: 15%;
}

hr {
  color: #555555;
  background-color: #555555;
  height: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.hidden {
  visibility: hidden;
}

.invisible {
  visibility: hidden;
  display: none;
}

.visible {
  visibility: visible;
  display: initial;
}


/* ===== Alternate dimensions for smaller landscape displays ===== */
@media (max-width: 1500px) {

  .mainHeader {
    font-size: 28pt;
  }

  .mainContainer {
    width: 50svw;
  }

  .grandTotalTable {
    background-color: #1c1c1c;
    width: 49.5svw;
  }

  .enabledButton {
    width: 49.5svw;
  }

  .diceCell {
    padding-left: 5px;
    padding-right: 5px;
  }

  .statusTable {
    font-size: 16pt;
    background-color: #1c1c1c;
    width: 50svw;
  }
  #txtBonusGoalLead {
    font-family: monospace;
    font-size: 14pt;
    text-align: left;
    color: #ffffff;
    background-color: #111111;
  }
  #txtBonusGoal {
    font-family: monospace;
    font-size: 14pt;
    text-align: center;
    color: #ffffff;
    background-color: #111111;
    width: 35%;
  }

  .disabledButton {
    width: 49.5svw;
  }

  .diceButton {
    width: 5svw;
    height: 5svw;
  }

  .diceButton:active {
    border: 3px solid limegreen;
  }

  .diceButtonSelected {
    width: 5svw;
    height: 5svw;
    border: 3px solid #c0c0c0;
    filter: brightness(0.25);
  }

  .diceButtonDisabled {
    width: 5svw;
    height: 5svw;
    border: 3px solid #aaaaaa;
  }

}

/* Alternate dimension for small screens or portrait mode */
@media (orientation: portrait), (max-width: 800px) {

  body {
    font-size: 11pt;
  }

  .mainHeader {
    font-size: 22pt;
    font-weight: bold;
    height: 1.3em;
  }

  .mainContainer {
    width: 95svw;
  }

  td[id^="txtScore"] {
    height: 1.2em;
  }

  .usedRow {
    background-color: #101010;
    color: chartreuse;
    font-weight: bold;
  }

  tr.scoredRow {
    color: limegreen;
  }

  .grandTotalTable {
    background-color: #1c1c1c;
    width: 92svw;
  }

  .statusTable {
    font-size: 14pt;
    background-color: #1c1c1c;
    width: 95svw;
  }
  #txtBonusGoalLead {
    font-family: monospace;
    font-size: 10pt;
    text-align: left;
    color: #ffffff;
    background-color: #111111;
    padding-left: 5px;
  }
  #txtBonusGoal {
    font-family: monospace;
    font-size: 10pt;
    text-align: center;
    color: #ffffff;
    background-color: #111111;
    width: 10%;
  }

  .enabledButton {
    width: 92svw;
    letter-spacing: 3px;
  }
  .enabledButton:active {
    border: 3px solid mediumorchid;
    color: orchid;
  }
  .disabledButton {
    letter-spacing: 3px;
    width: 92svw;
  }

  .diceCell {
    padding-left: 5px;
    padding-right: 5px;
  }

  button {
    font-size: 15pt;
    font-weight: bold;
    border: 3px solid mediumorchid;
    letter-spacing: 3px;
  }

  .diceButton {
    width: 12svw;
    height: 12svw;
  }

  .diceButton:active {
    border: 3px solid limegreen;
  }

  .diceButtonSelected {
    width: 12svw;
    height: 12svw;
    border: 3px solid #c0c0c0;
    filter: brightness(0.25);
  }

  .diceButtonDisabled {
    width: 12svw;
    height: 12svw;
    border: 3px solid #aaaaaa;
  }

}
