body {
  background-color: #e0e0e0;
  color: #030303;
  font-family: Calibri, Helvetica, Arial, sans-serif;
  font-size: 52px;
  /* Disable cursor selection  */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

table, tr, td {
  padding: 4px;
  text-align: center;
}
td {
  border: 1px solid #505050;
}

a {
  font-weight: bold;
  color: #0066CC;
  text-decoration: none;
}
a:hover {
  color: #4775FF;
  text-decoration: underline;
}

.helpTxt {
  font-size: 22pt;
}


.txtMainHeader {
  font-weight: bold;
}

.darkMode {
  background-color: #030303;
  color: #e0e0e0;
}


.emojiTableStyle {
  cursor: pointer;
}
.emojiTableStyle:hover {
  filter: drop-shadow(2px 2px 2px #606060);
}
.emojiTableStyle:active {
  filter: brightness(0.55);
}

.txtTestOutput {
  font-size: 40px;
  background-color: #e0e0e0;
  color: #030303;
}
.txtTestVerified {
  background-color: #c4ff89;
}
.txtTestVerified:hover {
  background-color: #afff60;
}

.hidden {
  visibility: hidden;
  width: 0px;
  height: 0px;
  padding: 0px;
}

#btnDarkMode {
  width: 60px;
  filter: brightness(0.6);
  vertical-align: middle;
}
#btnDarkMode:hover {
  filter: brightness(0.8);
}
#txtDisplayEmojiCount, #txtDisplayFlagCount {
  font-size: 22pt;
}

/* Toast message for deck shuffle */
#toastMessage {
  font-size: 18pt;
  font-weight: bold;
  visibility: hidden;
  min-width: 250px;
  margin-left: -150px;
  background-color: #2a2a2a;
  color: #efefef;
  font-weight: bold;
  text-align: center;
  border-radius: 2px;
  padding: 10px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 145px;
}
#toastMessage.show {
  visibility: visible;
  animation: fadeintoast 0.25s;
}
@keyframes fadeintoast {
  from {opacity: 0;}
  to {opacity: 1;}
}
