/* ********** MAIN ELEMENTS ********** */
body {
  color: #ffffff;
  background-color: #000000;
}

a {
  color: dodgerblue;
}
a:hover {
  filter: brightness(1.5);
  animation: flashText 1s linear infinite;
}
@keyframes flashText {
  75% {
    opacity: 0.75;
  }
}

/* Main header menu bar */
.class-HmGF6wQ.class-9vVDsZE .class-CEvOsZY, .class-ue2sHMi {
  color: #c0c0c0;
  background-color: #111111;
  border-color: #232323 #232323 transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  box-shadow: 0 4px 4px rgba(0,0,0,.25);
}

/* Main header */
.class-yBqFF5n {
  background-color: #121212;
}
/* Main header links */
.class-zO5-JkI a {
  filter: brightness(4);
}
/* Hamburger menu  */
.class-tlb57Ms {
  filter: brightness(3);
}
/* USA TODAY header */
.class-IEL7Xjz {
  filter: brightness(2);
}
/* More Ways To Play */
.class-rXhFQ5D {
  filter: brightness(4);
}
/* Hi, {username} */
.class--VByM6c {
  filter: brightness(4);
}
/* Nuclear diamond (remove washed-out filter) */
.class-pN1TNUG {
  background: none;
}

/* ********** OTHER GAMES and LINKS ********** */

/* Other link headers */
h1 {
  color: #ffffff;
}
h3, h4 {
  color: orchid;
}
/* Off The Grid */
.class-YSshAqK {
  color: #c0c0c0;
}
/* Other game titles */
h5, .class-yy5qvAf {
  color: chartreuse;
}
/* Other games background */
.class-bXip-oY, .class-OVqWpaq {
  background-color: #121212;
  border-color: #232323;
}
/* More Ways to Play (Menu)*/
.class-HmGF6wQ.class-9vVDsZE .class-HLcd6f8, .class-RHdxLIJ {
  background-color: #111111;
  border: 1px solid #232323;
}

/* DROPDOWN MENU TEXT */
.class-HlJZXAz p {
  color: #ffffff;
}
.class-nPc12ED {
  color: #dddddd;
}

/* DROPDOWN ARROW */
.class-G9HZVEc::before {
  border-bottom: .625rem solid #232323;
}

/* Main header divider */
.class-POKxZV1::before {
  visibility: hidden;
}

/* Main header bottom border */
.class-3jlzyE6 {
  border-bottom: .0625rem solid #333333;
}

/* ********** PUZZLE HINTS ********** */

/* Hint headers */
.class-uE8WOpS {
  color: #dddddd;
}

/* Inactive hint */
.class-0430Iv6 {
  background-color: #202020;
  color: #c0c0c0;
}
.class-0430Iv6:hover {
  background-color: #111111;
  color: #efefef;
}

/* Opposite hint indicator */
.class-ci9H7Pb::before {
  background-color: rebeccapurple;
}

/* Current hint highlight */
.class-iFz58-- {
  background-color: rebeccapurple;
  color: #ffffff;
}
.class-iFz58--:hover {
  filter: brightness(1.5);
}


/* Game buttons lighten by 120% */
.class-lK-AOkP {
  background-color: transparent;
  color: #1665cf;
  filter: brightness(1.2);
}

/* Hint bar gradient */
.class-PXu8w-9::after {
  background: #c0c0c0;
  background: linear-gradient(
    0deg,#121212,
    hsla(0,0%,100%,0) 100%,
    hsla(0,0%,100%,1));
}

/* Hint bar header DIV */
.class-uai5JHL {
  background-color: #121212;
}

/* ********** GAME BOARD ********** */

.class-1IqhUM- {
  background-color: #efefef;
}

.class-AQmkVw7 {
  background-color: #303030;
  border-color: #303030;
}

/* Game board cells */
.class-5-O2i74 {
  color: #000000;
}

/* Hint text - doesn't seem to change anything */
.class-mcY28OK span, .class-ILlhflQ {
  color: #ffffff;
}

/* ************************************************************ */

/* Hint direction image */
span.js-focus-visible {
  filter: brightness(4);
}

/* Game board header */
.class-eLOkG-i {
  background-image: none;
  background-color: #121212;
}

/* ********** CONGRATULATIONS SCREEN ********** */
.class-v-3J2YH h3 {
  color: #ffffff;
}
.class-v-3J2YH p {
  color: #c0c0c0;
}

/* "Your free trial ends in X days." popup bubbles */
/* Crossword Puzzle */
.class-UQeuZRc, .class-cfUPWgy, .class-cfUPWgy::before {
  color: #ffffff;
  background-color: #333333;
}
/* Quick Cross */
.class--fUerff, .class--fUerff::before {
  background-color: #333333;
}


.class--dcP0S9, .class-JNZvPat {
  border-color: #333333;
}
.class--dcP0S9 {
  background-color: transparent;
}
/* Quick Cross Archive */
.class-JNZvPat {
  background-color: #121212;
}

/* ********** PUZZLE ARCHIVES ********** */

/* Game completion indicators (done / not done) */
.class-AOZhd6i::before, .class--dcP0S9::before {
  background-color: chartreuse;
}
.class-oipRR-y::before, .class-JNZvPat::before {
  background-color: darkgreen;
}

/* Archives - header text */
.class-PL9ehl0 p, .class-xQ8lqmm p, .class-hFY9AI4 p {
  color: #c0c0c0;
}

.class-AOZhd6i {
  background-color: #121212;
  border-color: #333333;
}
.class-AOZhd6i p {
  color: #ffffff;
}

/* Archives - dropdown menus */
.class-ayaUALl .class-wN-rfQK {
  color: #ffffff;
  background-color: #000000;
}

/* Archives - Dropdown menu background */
.class-nWkq-cE > span, .class--4OeJQV {
  background-color: #000000;
}
/* Archives - Dropdown menu text */
.class-nWkq-cE a, .class--4OeJQV span {
  color: dodgerblue;
}

/* Hint background, quick cross DIV background, pause screen */
.class-bT5q-gr, .class-IO9zu-5, .class-6F1zccC, .class-UyzvkQC, .class-iZZVNyh {
  background-color: #111111;
  border: 1px solid #232323;
}

/* Archives - Completion time text (lightskyblue) */
.class-WUtDsN4.class-cthN5eT {
  color: #79a1e5;
}
/* Archives - Completion time checkmark (SVG blue filter) */
.class-g69WuZi {
  filter: hue-rotate(45deg)
}

/* Quick Cross div */
.class-DBbZ7Lt, .class-miMVbbk {
  background-color: #111111;
}
