.container {
	position: relative;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Helvetica, Calibri, sans-serif;
  font-size: 18pt;
  font-style: bold;
  color:  #ffffff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div {
	cursor: pointer;
}

input {
	font-size: 14pt;
	font-family: Helvetica, Calibri, sans-serif;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}

body {
	color: black;
	font-size: 12pt;
	font-family: Helvetica, Calibri, sans-serif;
}

img {
	border-radius: 1%;
	opacity: 90%;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}

img:hover {
	transform: scaleX(-1);
	transform: scaleY(-1);
	opacity: 100%;
	}
