/* Main DOM elements */
body {
  font-family: 'Calibri', 'Helvetica', 'Arial', sans-serif;
  background-color: #154700; /*#0F3300;*/
  background-image: url("../../images/casino_table.png");
  background-size: 25%;
  background-repeat: repeat;
  font-size: 14pt;
  font-weight: bold;
  color: #ffffff;
  /* Disable cursor selection  */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

button {
  background-color: #111111;
  border-color: #777777;
  color: #dddddd;
  font-size: 16pt;
  font-weight: bold;
  padding: 2pt;
}

/* Horizontal rule is large white line with black outline (casino style) */
hr {
  background-color: white;
  border: 1px solid black;
  height: 3px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 7px;
}

a, a:visited {
  font-weight: normal;
  color: #c0c0c0;
}

/* Set most elements to fixed 730px width */
.fixedTable {
  width: 100%;
  text-align: left;
}

/* A smaller, invisible <hr> for smaller gaps */
.smallLine {
  visibility: hidden;
  height: 5px;
  width: 100px;
  margin-top: 0pt;
  margin-bottom: 0pt;
}

/* Gradient gives status bar a "scoreboard" */
.statusOutline {
  width: 342px;
  height: 22px;
  border: 1px solid #555555;
  background-color: #000000;
/*  border-radius: 0 0 25% 25%; */
  padding-top: 1px;
  padding-bottom: 1px;
  background: repeating-linear-gradient(
    to bottom,
    #000000,
    #000000 1px,
    #111111 1px,
    #111111 2px
  );
}

/* Add fade animation to scoreboard */
#statusBarTxt {
  font-size: 12pt;
  letter-spacing: 2pt;
  text-align: center;
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;  
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

#playerScoreTxt, #dealerScoreTxt {
  font-size: 15pt;
  font-weight: bold;
  text-align: left;
  width: 33%;
  /* Add black outline to text for contrast */
}

.betLead {
  font-size: 15pt;
  text-align: right;
  width: 16.5%;
}

#playerBetTxt {
  font-size: 15pt;
  color: #9a9a9a;
  text-align: left;
  width: 16.5%;
}

#playerScoreTotalTxt, #dealerScoreTotalTxt {
  font-size: 15pt;
  text-align: right;
  width: 33%;
}

@font-face { 
  font-family: "52_card_font"; 
  src: url("../../fonts/card_characters.ttf"); 
}

#gameBoardPlayer, #gameBoardDealer {
  font-family: '52_card_font', 'Agency FB', serif, 'Times New Roman';
  font-size: 26pt;
  font-weight: normal;
  height: 105px;
  width: 100%;
}

/* Mimics the style of a 52-deck card (hidden by default) */
.gbSingleCard {
  display: none;
  background-color: white;
  border: 2px solid #000000;
  border-radius: 10px;
  color: #333333;
  width: 60px;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 1px;
  padding-bottom: 1px;
}

/* Gameplay buttons */
#btnHit {
  height: 50px;
  width: 45%;
  color: chartreuse;
  border-color: chartreuse;
  letter-spacing: 5px;
}

/* [STAND] button */
#btnStand {
  height: 50px;
  width: 45%;
  color: indianred;
  border-color: indianred;
  letter-spacing: 5px;
}

/* [DEAL NEW HAND] button */
#btnDealNewHand {
  height: 50px;
  width: 45%;
  letter-spacing: 5px;
}

#btnDoubleDown {
  height: 50px;
  width: 45%;
  letter-spacing: 2px;
  font-size: 12pt;
}

/* Bet buttons */
.btnBet {
  width: 55px;
}

/* Buttons are aligned to the bottom center */
.btnTable {
  text-align: center;
  vertical-align: bottom;
  padding: 2.5px;
}

/* Help button and popup menu */
.btnHelpStyle {
  color: #d0d0d0;
  font-size: 14pt;
  text-align: center;
}

.btnAudioStatus {
  color: #d0d0d0;
  font-size: 14pt;
}

#cardCounterTxt {
  color: #d0d0d0;
  width: 10%;
}
#cardCounterTxt.hide {
  visibility: hidden;
}

.evenWidthCell {
  width: 50%;
}
.evenRightCell {
  width: 50%;
  text-align: right;
}

#btnAudioStatusLead {
  width: 50%;
  text-align: right;
}

#btnAudioStatusValue {
  text-align: left;
  color: #afff60;
}

#helpMenuTxt {
  font-size: 12pt;
  font-weight: normal;
  visibility: hidden;
  background-color: #2a2a2a;
  color: #efefef;
  font-weight: bold;
  text-align: left;
  border-radius: 2px;
  padding: 10px;
  width: 89%;
  position: fixed;
  z-index: 1;
  left: 10px;
  top: 10px;
}
#helpMenuTxt.show {
  visibility: visible;
}
hr.helpLine {
  background-color: white;
  border: 1px solid black;
  height: 2px;
  width: 100%;
}

/* Toast message for deck shuffle */
#toastMessage {
  font-size: 14pt;
  font-weight: bold;
  visibility: hidden;
  min-width: 250px;
  margin-left: -150px;
  background-color: #2a2a2a;
  color: #efefef;
  font-weight: bold;
  text-align: center;
  border-radius: 2px;
  padding: 10px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 225px;
}
#toastMessage.show {
  visibility: visible;
  animation: fadeintoast 0.5s;
}
@keyframes fadeintoast {
  from {opacity: 0;}
  to {opacity: 1;}
}

.hidden {
  visibility: hidden;
  height: 1px;
  width: 1px;
}

.flipX {
  animation: 1s anim-flipX ease infinite;
}
@keyframes anim-flipX {
  0% {
    opacity: 0;
    transform: rotateX(90deg);
  }
  50% {
    opacity: 1;
    transform: rotateX(720deg);
  }
  100% {
    /* animate nothing to pause animation at the end */
    opacity: 1;
    transform: rotateX(720deg);
  }
}
