body {
	font-size: 20pt;
	font-family: Helvetica, Calibri, sans-serif;
	font-style: bold;
	cursor: crosshair;
}

#p1 {
	font-family: Ubuntu Mono, Consolas, monospace;
	font-size: 20pt;
	font-style: bold;
	color: black;
	cursor: crosshair;
}

canvas {
  border: 1px solid black;
}
