/* TODO: rename these variables (ambiguous mess), remove redundant properties */
body {
  font-family: sans-serif;
  background-color: #000000;
  color: #ffffff;
}

table {
  text-align: center;
  padding: 0px;
}

/*
table {
  border: 1px solid darkgreen;
}
tr {
  border: 1px solid limegreen;
}
td {
  border: 1px solid chartreuse;
}
*/

.mainHeader {
  font-size: 24pt;
  font-weight: bold;
  color: #c0c0c0;
}

.frequencyHeader {
  width: 50svw;
  font-size: 18pt;
}

.waveDescriptions {
  width: 50svw;
}

.waveInfoCell {
  font-size: 10pt;
  color: #eeeeee;
  width: 25%;
}

#txtFrequencyLead, #txtWaveformLead {
  font-weight: bold;
  text-align: right;
  padding-right: 3px;
}

#txtFrequencyValue, #txtWaveformValue {
  color: cyan;
  text-align: left;
  padding-left: 3px;
}

#txtFrequencyLead {
  width: 15%;
}
#txtFrequencyValue {
  width: 35%;
}
#txtWaveformLead {
  width: 33%;
}
#txtWaveformValue {
  width: 17%;
}

.trackHeader {
  width: 50svw;
  font-size: 18pt;
  font-weight: bold;
}

#txtActiveTrackLead {
  width: 35%;
  color: #ffffff;
  text-align: right;
  padding-right: 5px;
}

#txtActiveTrackValue {
  width: 65%;
  color: khaki;
  text-align: left;
  padding-left: 5px;
}

button {
  height: 2em;
  font-size: 16pt;
  font-weight: bold;
  color: #ffffff;
  background-color: #000000;
  cursor: pointer;
  outline-style: outset;
}
button:hover {
  outline-style: inset;
}
button:active {
  filter: brightness(0.5);
}

.waveStyle {
  width: 100%;
  color: limegreen;
  border: 1px solid limegreen;
}
.waveStyle:hover {
  color: chartreuse;
  border: 1px solid chartreuse;
}

.trackMenu {
  width: 50%;
  padding: 7px;
}

.trackStyle {
  width: 100%;
  color: mediumorchid;
  border: 1px solid mediumorchid;
}
.trackStyle:hover {
  color: orchid;
  border: 1px solid orchid;
}

.playStyle {
  width: 100%;
  color: #dddddd;
  border: 1px solid #c0c0c0;
/*  letter-spacing: 5px; */
}
.playStyle:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.playStyleRunning {
  width: 100%;
  color: #FF7F50;
  border: 1px solid #ff7f50;
/*  letter-spacing: 5px; */
}
.playStyleRunning:hover {
  color: #ff946d;
  border: 1px solid #ff946D;
}

.disabledButton {
  cursor: not-allowed;
  color:#555555;
  border: 1px solid #555555;
}
.disabledButton:hover {
  color:#3a3a3a;
  border: 1px solid #3a3a3a;
}

.waveformMenu {
  padding: 5px;
  width: 25%;
}

.headerGraphic {
  height: 30px;
}

#headerFlipRight {
  transform: scaleX(-1);
}

hr {
  width: 50svw;
  background-color: dodgerblue;
  color: dodgerblue;
  height: 3px;
  margin: 5px 5px;
}

hr.smallLine {
  width: 50svw;
  background-color: #333333;
  color: #333333;
  height: 1px;
  margin: 5px 5px;
}

.warningMessage {
  font-size: 14pt;
  font-weight: bold;
  color: #cd5c5c;
  visibility: hidden;
  display: none;
  animation: flashText 1s linear infinite;
}

@keyframes flashText {
  75% {
    opacity: 0;
  }
}

#trailingRuler {
  visibility: hidden;
  display: none;
}

/* Alternate dimensions for smaller landscape displays */

@media (max-width: 1300px) {

  button {
    font-size: 14pt;
    width: 100%;
  }

  #txtFrequencyLead {
    width: 17%;
  }
  #txtFrequencyValue {
    width: 33%;
  }

  #txtWaveformLead {
    width: 32%;
  }
  #txtWaveformValue {
    width: 18%;
  }

  #txtActiveTrackLead {
    width: 20%;
  }
  #txtActiveTrackValue {
    width: 30%;
  }


  .frequencyHeader {
    width: 90svw;
    font-size: 14pt;
  }

  .waveDescriptions {
    width: 90svw;
  }

  .waveInfoCell {
    font-size: 9pt;
  }

  .trackHeader {
    width: 90svw;
    font-size: 14pt;
    padding-bottom: 5px;
  }

  .mainHeader {
    font-size: 18pt;
  } 

  .trackMenu {
    width: 90svw;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .trackStyle {
    width: 100%;
  }

  .headerGraphic {
    height: 25px;
  }

  hr {
    width: 90svw;
  }

  hr.smallLine {
    width: 90svw;
  }

}


/* Alternate dimension for small screens using portrait mode */

@media (orientation: portrait), (max-width: 500px) {

  button {
    height: 3.5em;
    font-size: 12pt;
    width: 100%;
  }

  .frequencyHeader {
    width: 90svw;
    font-size: 10pt;
  }

  .waveDescriptions {
    width: 90svw;
  }

  .trackHeader {
    width: 90svw;
    font-size: 12pt;
    padding-bottom: 5px;
  }

#txtFrequencyLead {
  width: 25%;
}
#txtFrequencyValue {
  width: 25%;
}
#txtWaveformLead {
  width: 25%;
}
#txtWaveformValue {
  width: 25%;
}

  #txtActiveTrackLead {
    width: 23%;
    padding-right: 5px;
  }

  #txtActiveTrackValue {
    width: 77%;
    padding-left: 5px;
  }

  .mainHeader {
    font-size: 14pt;
  } 

  .trackMenu {
    width: 90svw;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .playStyle {
    width: 100%;
  }

  .trackStyle {
    width: 100%;
  }

  .waveformMenu {
    width: 25%;
  }

  .waveInfoCell {
    font-size: 8pt;
  }

  .headerGraphic {
    visibility: hidden;
    display: none;
  }

  hr {
    width: 90svw;
  }

  hr.smallLine {
    width: 90svw;
  }

  #trailingRuler {
    visibility: visible;
    display: revert;
  }

  .warningMessage {
    visibility: visible;
    display: initial;
  }
  
}
