body {
  font-family: sans-serif;
  background-color: #000000;
  color: #ffffff;
}

table {
  text-align: center;
  padding: 0px;
}

/*table {
  border: 1px solid darkgreen;
}
tr {
  border: 1px solid limegreen;
}
td {
  border: 1px solid chartreuse;
}*/

h1 {
  color: #c0c0c0;
}

table.frequencyHeader {
  width: 65vw;
  font-size: 18pt;
}

table.waveDescriptions {
  width: 920px;
}

.waveInfoCell {
  font-size: 10pt;
  color: #eeeeee;
  width: 25%;
}

#txtFrequencyLead, #txtWaveformLead {
  font-weight: bold;
  width: 10vw;
  text-align: right;
  padding-right: 3px;
}

#txtFrequencyValue, #txtWaveformValue {
  color: cyan;
  width: 10vw;
  text-align: left;
  padding-left: 3px;
}

table.trackHeader {
  width: 90vw;
  font-size: 18pt;
  font-weight: bold;
}

#txtActiveTrackLead {
  width: 43%;
  color: #ffffff;
  text-align: right;
  padding-right: 5px;
}

#txtActiveTrackValue {
  width: 57%;
  color: khaki;
  text-align: left;
  padding-left: 5px;
}

button {
  height: 45px;
/*  width: 215px; */
  font-size: 18pt;
  font-weight: bold;
  color: #ffffff;
  background-color: #000000;
  cursor: pointer;
  outline-style: outset;
}
button:hover {
  outline-style: inset;
}
button:active {
  filter: brightness(0.5);
}

.waveStyle {
  width: 215px;
  color: limegreen;
  border: 1px solid limegreen;
}
.waveStyle:hover {
  color: chartreuse;
  border: 1px solid chartreuse;
}

.trackStyle {
  width: 350px;
  color: mediumorchid;
  border: 1px solid mediumorchid;
}
.trackStyle:hover {
  color: orchid;
  border: 1px solid orchid;
}

.playStyle {
  width: 350px;
  color: #dddddd;
  border: 1px solid #c0c0c0;
  letter-spacing: 5px;
}
.playStyle:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.playStyleRunning {
  color: #FF7F50;
  border: 1px solid #ff7f50;
  letter-spacing: 10px;
}
.playStyleRunning:hover {
  color: #ff946d;
  border: 1px solid #ff946D;
}

.disabledButton {
  cursor: not-allowed;
  color:#555555;
  border: 1px solid #555555;
}
.disabledButton:hover {
  color:#3a3a3a;
  border: 1px solid #3a3a3a;
}

.waveformMenu {
  padding: 5px;
}

.headerGraphic {
  height: 30px;
}

#headerFlipRight {
  transform: scaleX(-1);
}

hr {
  width: 50vw;
  background-color: dodgerblue;
  color: dodgerblue;
  height: 3px;
}

hr.smallLine {
  width: 50vw;
  background-color: #333333;
  color: #333333;
  height: 1px;
}
