body {
  background-color: #000000;
  color: #dddddd;
  font-size: 12pt;
  font-family: sans-serif;
}

table {
  width: 60svw;
}

/* Layout debugging */
/*
table {
  border: 1px solid forestgreen;
}
tr {
  border: 1px solid green;
}
td {
  border: 1px solid limegreen;
}
*/

hr {
  height: 3px;
  background-color: #333333;
  border: 1.5px solid #202020;
  padding: 0px;
}

a {
  color: dodgerblue;
  text-decoration: none;
}

a:hover {
  color: deepskyblue;
  text-decoration: underline;
}

ul {
  list-style-type: '◽';
/* ⬛◼️◾▪️⬜◽▫️ */
/*
  list-style-image: url('../images/bullet_point.png');
*/
}

.tableTOC {
  vertical-align: top;
  position: fixed;
}

.toc {
  width: 30px;
  padding: 2px;
}

.gitHubLogo {
  width: 64px;
}

.mainTitle {
  font-size: 2em;
  font-weight: bold;
}

.mainSubheader {
  font-size: 1.25em;
}

.mainLogo {
  width: 40px;
}

.bannerLogo {
  width: 40svw;
}