body {
  background-color: #000000;
  color: #dddddd;
  font-size: 12pt;
  font-family: sans-serif;
}

table {
  padding: 4px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #000000;
}
th {
  font-family: monospace;
  font-size: 14pt;
  font-weight: bold;
/*  text-decoration: underline; */
  padding: 2px;
  border: 1px solid #555555;
  background-color: #111111;
}
tr {
  padding: 5px;
}
td {
/*  border: 1px solid #555555; */
  padding: 2px;
}

.tocHR {
  width: 75%;
  height: 3px;
  background-color: #555555;
  border: 1.5px solid #333333;
  padding: 0px;
}

.smallLine {
  height: 4px;
  background-color: transparent;
  border: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

a {
  color: dodgerblue;
  text-decoration: none;
}

a:hover {
  color: deepskyblue;
  animation: flashText 1s linear infinite;
  text-decoration: underline;
  filter: brightness(1.2);
}
@keyframes flashText {
  75% {
    opacity: 0.75;
  }
}
a:active {
  color: #0061bf;
}

.warningMessage {
  font-size: 1em;
  font-weight: bold;
  color: #cd5c5c;
  cursor: pointer;;
  visibility: hidden;
  display: none;
  animation: flashText 2s linear infinite;
}

.warningMessage2 {
  color: #ffffff;
  font-size: 0.75em;
}

ul {
  list-style-type: square;
/* ⬛◼️◾▪️⬜◽▫️ */
}

/* PROJECT LIST (left main table cell) */

.siteTable {
  width: 40svw;
  text-align: left;
}
.tableTOCLinks {
  width: 18svw;
}

.tableTOC {
  vertical-align: top;
  position: fixed;
/* Disable cursor selection */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.mainTitle {
  font-size: 2em;
  font-weight: bold;
}

.mainSubheader {
  font-size: 1.5em;
  font-weight: bold;
}

.mainLogo {
  width: 32px;
}

.imgLogoBottom {
  position: relative;
  float: left;
}

.imgLogoBottom .imgLogoTop {
  position: absolute;
  left: 0;
  top: 0;
}

.imgLogoBottom img {
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.imgLogoBottom:hover {
  filter: brightness(1.2);
  animation: flashText 1s linear infinite;
}

.imgLogoTop img {
  width: 35.25px;
  height: 35.25px;
}

.bannerLogo {
  width: 30svw;
}

.gitHubLogo {
  width: 64px;
}

/* QUICK LINKS (right main table cell) */

.toc {
  width: 24px;
  padding: 2px;
}

#btnTop, #btnBottom {
  cursor: pointer;
}

.debugTxtStyle {
  font-family: monospace;
  font-size: 14pt;
}

/*.debugTableStyle {
  width: 15svw;
}*/

.leadCell, .valueCell {
  border: 1px solid #333333;
}

.leadCell {
  text-align: right;
  width: 50%;
}

.valueCell {
  text-align: left;
/*  color: cyan; */
}

/*table#someID <child_element> */
table.plainCell th {
  background-color: #000000;
  border-color: #000000;
  font-family: sans-serif;
  text-align: center;
}

.grayCell {
  border: 1px solid #333333;
}
.grayCell:hover {
  border: 1px solid #555555;
}

#progressBar1, #progressBar2 {
  max-width: 95%;
  height: 0.75em;
  cursor: pointer;
}

#progressBar1:hover, #progressBar2:hover {
  animation: flashText 1.5s linear infinite;
}

#progressBar1:active, #progressBar2:active {
  filter: brightness(0.75);
}

#progressBar1 {
  border: 2px outset red;
  background-image: linear-gradient(darkred, indianred);
  width: 100%;
}

#progressBar2 {
  border: 2px outset limegreen;
  background-image: linear-gradient(green, chartreuse);
  width: 0%;
}

#pwInverse, #pw {
  font-weight: bold;
  cursor: help;
}

#pwInverse {
  color: #ff5555;
}

#pw {
  color: #55ff55;
}

#totalLead, #totalValue {
  background-color: #121212;
}

#totalValue {
  color: cyan;
}

.mainBarTable {
  width: 85%;
}

.legacyIcon {
  height: 16px;
}

.smallText {
  font-size: 10pt;
  text-align: left;
  cursor: help;
}

.hidden {
  visibility: hidden;
}

.invisible {
  visibility: hidden;
  display: none;
}

@media screen and (max-width: 1400px) {

  body {
    font-size: 12pt;
  }

  table {
    padding: 4px;
    border: 1px solid #000000;
  }
  th {
    font-size: 14pt;
    font-weight: bold;
  /*  text-decoration: underline; */
    padding: 2px;
    border: 1px solid #555555;
    background-color: #111111;
  }
  tr {
    padding: 5px;
  }
  td {
  /*  border: 1px solid #555555; */
    padding: 2px;
  }

  /* PROJECT LIST (left main table cell) */
  .siteTable {
    width: 42svw;
    text-align: left;
  }
  .tableTOCLinks {
    width: 29svw;
  }

  .mainTitle {
    font-size: 1.75em;
    font-weight: bold;
  }

  .mainSubheader {
    font-size: 1.5em;
    font-weight: bold;
  }

  .mainLogo {
    width: 28px;
  }

  .bannerLogo {
    width: 30svw;
  }

  .gitHubLogo {
    width: 65px;
  }

  /* QUICK LINKS (right main table cell) */

  .toc {
    width: 20px;
    padding: 2px;
  }

  .debugTxtStyle {
    font-family: monospace;
    font-size: 14pt;
  }

  /*.debugTableStyle {
    width: 15svw;
  }*/

  .leadCell, .valueCell {
    border: 1px solid #333333;
  }

  .leadCell {
    text-align: right;
    width: 50%;
  }

  .valueCell {
    text-align: left;
  /*  color: cyan; */
  }

  .grayCell {
    border: 1px solid #333333;
  }
  .grayCell:hover {
    border: 1px solid #555555;
  }

  #progressBar1, #progressBar2 {
    max-width: 95%;
    height: 0.75em;
    cursor: pointer;
  }

  .legacyIcon {
    height: 16px;
  }

  .smallText {
    font-size: 10pt;
    text-align: left;
    cursor: help;
  }

}

@media screen and (max-width: 950px) and (orientation: landscape) {
  body {
    font-size: 1em;
  }

  table {
    border: 1px solid #000000;
    margin-left: unset;
    margin-right: unset;
    padding: 4px;
  }
  th {
    font-size: 1em;
    font-weight: bold;
  /*  text-decoration: underline; */
    padding: 1px;
    border: 1px solid #555555;
    background-color: #111111;
  }
  tr {
    padding: 5px;
  }
  td {
  /*  border: 1px solid #555555; */
    padding: 2px;
  }

  li {
    font-size: 0.7em;
  }

  /* PROJECT LIST (left main table cell) */

  .siteTable {
    width: 65svw;
    text-align: left;
  }

  .tableTOCLinks {
    font-size: 1em;
    width: 32svw;
  }

  .mainTitle {
    font-size: 1.5em;
    font-weight: bold;
  }

  .mainSubheader {
    font-size: 1.25em;
    font-weight: bold;
  }

  .mainLogo {
    width: 28px;
  }

  .imgLogoBottom img {
    width: 28px;
    height: 28px;
  }

  .imgLogoTop img {
    width: 31.125px;
    height: 31.125px;
  }


  .bannerLogo {
    width: 55svw;
  }

  .gitHubLogo {
    width: 32px;
  }

  /* QUICK LINKS (right main table cell) */

  .tableTOC {
    vertical-align: top;
    position: fixed;
  /* Disable cursor selection */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .toc {
    width: 18px;
    padding: 2px;
  }

  .debugTxtStyle {
    font-family: monospace;
    font-size: 1em;
  }

  #pw, #pwInverse {
    font-size: 1em;
    visibility: hidden;
    display: none;
  }

  #btnTop, #btnBottom {
    font-size: 0.8em;
  }

  .plainCell {
    visibility: hidden;
    display: none;
  }

  /*.debugTableStyle {
    width: 15svw;
  }*/

  .leadCell, .valueCell {
    border: 1px solid #333333;
  }

  .leadCell {
    text-align: right;
    width: 50%;
  }

  .valueCell {
    text-align: left;
  /*  color: cyan; */
  }

  .grayCell {
    border: 1px solid #333333;
  }
  .grayCell:hover {
    border: 1px solid #555555;
  }

  #progressBar1, #progressBar2 {
    max-width: 95%;
    height: 0.75em;
    cursor: pointer;
  }

  .legacyIcon {
    height: 16px;
  }

  .smallText {
    font-size: 10pt;
    text-align: left;
    cursor: help;
  }

  .warningMessage {
    visibility: hidden;
    display: none;
  }

}

@media screen and (max-width: 950px) and (orientation: portrait) {
  body {
    font-size: 0.75em;
  }

  table {
    border: 1px solid #000000;
    margin-left: unset;
    margin-right: unset;
    padding: 4px;
  }
  th {
    font-size: 0.6em;
    font-weight: bold;
  /*  text-decoration: underline; */
    padding: 1px;
    border: 1px solid #555555;
    background-color: #111111;
  }
  tr {
    padding: 5px;
  }
  td {
  /*  border: 1px solid #555555; */
    padding: 2px;
  }

  li {
    font-size: 1.1em;
  }

  /* PROJECT LIST (left main table cell) */

  .siteTable {
    width: 40svw;
    text-align: left;
  }

  .tableTOCLinks {
    width: 40svw;
    font-size: 1.125em;
  }

  .mainTitle {
    font-size: 1.3em;
    font-weight: bold;
  }

  .mainSubheader {
    font-size: 1em;
    font-weight: bold;
  }

  .mainLogo {
    width: 16px;
  }

  .imgLogoBottom img {
    width: 16px;
    height: 16px;
  }

  .imgLogoTop img {
    width: 17.65px;
    height: 17.65px;
  }


  .bannerLogo {
    width: 55svw;
  }

  .gitHubLogo {
    width: 32px;
  }

  /* QUICK LINKS (right main table cell) */

  .tableTOC {
    vertical-align: top;
    position: fixed;
  /* Disable cursor selection */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .toc {
    width: 16px;
    padding: 2px;
  }

  .debugTxtStyle {
    font-family: monospace;
    font-size: 1em;
  }

  #pw, #pwInverse {
    font-size: 1em;
    visibility: hidden;
    display: none;
  }

  #btnTop, #btnBottom {
    font-size: 0.8em;
  }

.plainCell {
  visibility: hidden;
  display: none;
}

  /*.debugTableStyle {
    width: 15svw;
  }*/

  .leadCell, .valueCell {
    border: 1px solid #333333;
  }

  .leadCell {
    text-align: right;
    width: 50%;
  }

  .valueCell {
    text-align: left;
  /*  color: cyan; */
  }

  .grayCell {
    border: 1px solid #333333;
  }
  .grayCell:hover {
    border: 1px solid #555555;
  }

  #progressBar1, #progressBar2 {
    max-width: 95%;
    height: 0.75em;
  }

  .legacyIcon {
    height: 16px;
  }

  .smallText {
    font-size: 10pt;
    text-align: left;
    cursor: help;
  }

  .warningMessage {
    font-size: 1.25em;
    visibility: visible;
    display: initial;
  }
  .warningMessage2 {
    font-size: 1em;
  }

}

/* Debugging tables */
/*table {
  border: 1px solid cyan;
}
tr {
  border: 1px solid orchid;
}
th {
  border: 1px solid coral;
}
td {
  border: 1px solid lightgreen;
}*/
