body {
  background-color: #000000;
  color: #dddddd;
  font-size: 12pt;
  font-family: sans-serif;
}

table {
  width: 15svw;
  padding: 4px;
}
th {
  font-family: monospace;
  font-size: 14pt;
  font-weight: bold;
  text-decoration: underline;
  padding: 2px;
  border: 1px solid #555555;
  background-color: #111111;
}
tr {
  padding: 5px;
}
td {
/*  border: 1px solid #555555; */
  padding: 2px;
}

table {
  border: 1px solid #000000;
}

/* Layout debugging */
/*
table {
  border: 1px solid mediumorchid;
}
tr {
  border: 1px solid chartreuse;
}
th {
  border: 1px solid #c0c0c0;
}
td {
  border: 1px solid cyan;
}
*/

hr {
  height: 3px;
  background-color: #555555;
  border: 1.5px solid #333333;
  padding: 0px;
}

a {
  color: dodgerblue;
  text-decoration: none;
}

a:hover {
  color: deepskyblue;
  animation: flashText 1s linear infinite;
  text-decoration: underline;
  filter: brightness(1.2);
}
@keyframes flashText {
  75% { opacity: 0.75; }
}

ul {
  list-style-type: square;
/* ⬛◼️◾▪️⬜◽▫️ */
/*
  list-style-image: url('../images/bullet_point.png');
*/
}


.grayCell {
  border: 1px solid #333333;
}

.grayCell:hover {
  border: 1px solid #555555;
}

.leadCell {
  text-align: right;
  width: 50%;
}

.valueCell {
  text-align: left;
/*  color: cyan; */
}

.leadCell, .valueCell {
  border: 1px solid #333333;
}

.tableTOC {
  vertical-align: top;
  position: fixed;
/* Disable cursor selection */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.toc {
  width: 22px;
  padding: 2px;
}

.gitHubLogo {
  width: 64px;
}

.mainTitle {
  font-size: 2em;
  font-weight: bold;
}

.mainSubheader {
  font-size: 1.5em;
  font-weight: bold;
}

.mainLogo {
  width: 40px;
}

.bannerLogo {
  width: 40svw;
}

#progressBar1, #progressBar2 {
  max-width: 90%;
  height: 0.75em;
  cursor: pointer;
}

#progressBar1:hover, #progressBar2:hover {
  animation: flashText 1.5s linear infinite;
}

#progressBar1:active, #progressBar2:active {
  filter: brightness(0.75);
}

#progressBar1 {
  border: 2px outset red;
  background-image: linear-gradient(darkred, indianred);
  width: 93%;
}

#progressBar2 {
  border: 2px outset limegreen;
  background-image: linear-gradient(green, chartreuse);
/*  border: 2px outset blue;
  background-image: linear-gradient(darkblue, dodgerblue); */
  width: 0%;
}

#pwInverse, #pw {
}

#pwInverse {
  color: #ff5555;
}
#pw {
  color: #55ff55;
}


#txtDebug0 {
  font-weight: bold;
  color: deepskyblue;
}

#totalLead, #totalValue {
  background-color: #121212;
}

#totalValue {
  color: cyan;
}

.smallText {
  font-size: 10pt;
  text-align: left;
  cursor: help;
}

.debugTableStyle {
  width: 15svw;
}

.debugTxtStyle {
  font-family: monospace;
  font-size: 14pt;
}

.hidden {
  visibility: hidden;
}

.invisible {
  visibility: hidden;
  display: none;
}

#btnTop, #btnBottom {
  cursor: pointer;
}

#txtQuickLinks {
}
